snippet fileInfo "Inserts file info header"
/*********************************************************************
*       Author: ${1:`g:snips_author`}
*         Date: ${2:`date +%Y-%m-%d`}
*  Institution: ${3:`g:snips_instit`}
*  Description: ${4:Description}
*
**********************************************************************
*         Copyright © 2014 $1. All Rights Reserved.     
**********************************************************************/
$0
endsnippet

